Cotizador Autos Web 2016/CotizadorWebAutos/CotizadorWebAutos/Service References/WSCobroEnLineaMAPFRE/COBRO_TC_POS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="COBRAR_TC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="INFOCOBRO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COBRAR_TCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="COBRAR_TCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>